@import 'vars.less';

.centro{
	.centralizar;
	position:relative;
}

html{
	body{
		.secao-topo{
			width:100%;
			header{
				height:326px;
				overflow:hidden;
				width:100%;
				background:url('../_imgs/layout/back-banner-home.png') @roxo center top no-repeat;
				a{
					position:absolute;
					width:21px;
					height:21px;
					top:28px;
					right:0px;
					display:block;
					.transition;
					&:active, &:visited{}
					&:hover{}
				}
				#logo{
					display:block;
					width:326px;
					height:81px;
					position:absolute;
					top:(326px - 81px)/2 + 15;
					left:(@largura - 326px)/2;
				}
			}
			nav{
				position:static;
				width:100%;
				height:65px;
				background:@roxo;
				text-align:center;
				z-index:999;
				.transition;
				#link-topo{
					margin-left:-45px;
					overflow:hidden;	
					width:0px;
					height:0px;
					margin-top:0px;
					opacity:0;
					z-index:-10;
					.inline;
					.transition;
					img{
						width:0;
						height:0;
					}
				}
				ul{
					.inline;
					list-style:none;
					.transition;
					li{
						.inline;
						height: 65px;
						.transition;
						a{
							display:block;
							height: 65px;
							line-height: 70px;
							padding:0 42px;
							text-align:center;
							color:#fff;
							.oxygen(14px, 300);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{
								color:@amarelo;
							}
						}
					}
				}
			}
			&.fixo{
				nav{
					position:fixed;
					top:0;
					left:0;
					height:74px;
					background:@roxo;
					text-align:center;
					#link-topo{
						width:84px;
						height:80px;
						opacity:1;
						z-index:99;
						margin-top:6px;
						img{
							width:84px;
							height:80px;
						}
					}					
				}				
			}
		}
		.main{
			.secao-banners{
				padding:48px 0;
				.pad-fundo{
					background:url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
					padding:20px;
					height:330px;
					.slides{
						height:330px;
						overflow:hidden;
						background:#fff;
						.slide{
							height:330px;
							width:100%;
							overflow:hidden;
							position:relative;
							img{
								position:absolute;
								top:0;
								left:0;
								z-index:1;
							}
							.texto{
								position:absolute;
								bottom:10px;
								right:10px;
								z-index:2;
								padding:30px;
								color:@amarelo;
								.oxygen(20px, 300);
								line-height:130%;
								max-width:600px;
								height:26px;
								white-space:nowrap;
								text-overflow:ellipsis;
								overflow:hidden;
								background:url('rgba.php/rgba(141, 141, 141, .9)');
								background:rgba(141, 141, 141, .9);
							}
						}
					}
				}
			}
			.secao-projetos{
				padding:48px 0 70px 0;
				min-height:515px;
				nav{
					h1{
						.oxygen(24px, 300);
						color:@roxo;
						height:34px;
						line-height:34px;
						border-right:1px @roxo solid;
						padding-right:35px;
						margin-right:30px;
						.inline;
					}
					ul{
						.inline;
						height:34px;
						list-style:none;
						li{
							.inline;
							height:34px;
							margin-right:10px;
							a{
								padding:5px 10px;
								height:24px;
								line-height:34px;
								.oxygen(19px, 300);
								background:url('../_imgs/layout/back-rotation-1.png') center 50px no-repeat; 
								color:@roxo;
								.transition;
								&:active, &:visited{}
								&:hover, &.ativo{
									font-weight:500;
									background:url('../_imgs/layout/back-rotation-1.png') center bottom no-repeat; 
								}
							}
						}
					}
				}
				.galeria{
					width:1056px;
					margin:43px auto 0 auto;
					min-height:438px;
					position:relative;
					left:0;
					&.detalhando{
						min-height:620px;
						#lista-projetos{
							min-height:620px;
							&.rel{
								position:relative;
								margin:0 48px;
							}
						}
					}
					.transition;
					.loading{
						.transition;
						display:block;
						position:absolute;
						top:0;
						left:0;
						width:1056px;
						height:100%;
						z-index:998;
						background:#fff;
						opacity:0;
					}
					.loading.ativo{
						opacity:1;
					}
					&.escondida{
						left:-600px;
						opacity:0;
					}					
					.nav{
						position:absolute;
						display:block;
						width:38px;
						height:38px;
						top:200px;
						&.nav-ant{							
							left:0;
						}
						&.nav-prox{
							right:0;
						}
					}
					#lista-projetos{
						width:960px;
						min-height:438px;
						overflow:hidden;
						position:absolute;
						left:48px;
						top:0;
						.grid{
							width:960px;
							height:438px;
							position:absolute;
							left:0;
							top:0;
							font-size:0;
							.grande{
								display:inline-block;
								vertical-align: top;
								width:438px;
								height:438px;
								margin-right:1px;
								a{
									width:438px;
									height:438px;
									display:block;
									position:relative;
									&:active, &:visited{ p{color:#fff;}}
									img{
										width:438px;
										height:438px;
									}
									.overlay{
										.transition;
										padding:43px 36px;
										top: 20px;
										left:20px;
										width:438px - 40 - 36 - 36;
										height:438px - 40 - 43 - 43;
										position:absolute;
										z-index:99;
										overflow:hidden;
										background:url('rgba.php/rgba(70, 41, 85, .75)');
										background:rgba(70, 41, 85, .75);
										opacity:0;
										h2{
											position:relative;
											left:-120px;
											color:@amarelo;
											line-height:135%;
											margin-bottom:15px;
											.oxygen(25px, 300);
											.transition;
										}
										p{
											position:relative;
											left:120px;
											color:#fff;
											line-height:110%;
											.oxygen(15px);
											.transition;
										}
									}
									&:hover{
										.overlay{
											opacity:1;
											h2, p{ left: 0; }
										}
									}
								}
							}
							.outras{
								width:521px;
								display:inline-block;
								vertical-align: top;
								.medias{
									width:521px;
									height:260px;
									margin-bottom:1px;
									a{
										.inline;
										width:260px;
										height:260px;
										position:relative;
										&:active, &:visited{}
										img{
											width:260px;
											height:260px;
										}
										&:first-child{
											margin-right:1px;
										}
										.overlay{
											.transition;
											padding:25px 21px; // 9,8% 8,2%
											top: 20px;
											left:20px;
											width:260px - 40 - 21 - 21;
											height:260px - 40 - 25 - 25;
											position:absolute;
											z-index:99;
											overflow:hidden;
											background:url('rgba.php/rgba(70, 41, 85, .75)');
											background:rgba(70, 41, 85, .75);
											opacity:0;
											h2{
												left:-120px;
												position:relative;
												color:@amarelo;
												line-height:115%;
												margin-bottom:12px;
												.oxygen(25px, 300);
												.transition;
											}
											p{
												left:120px;
												position:relative;
												color:#fff;
												line-height:110%;
												.oxygen(15px);
												.transition;
											}
										}
										&:hover{
											.overlay{
												opacity:1;
												h2, p{ left: 0; }
											}
										}										
									}
								}
								.pequenas{
									width:521px;
									height:177px;
									a{
										width:173px;
										height:177px;
										margin-right:1px;
										position:relative;
										.inline;
										&:active, &:visited{}
										img{
											width:173px;
											height:177px;
										}
										&:last-child{
											margin-right:0;
										}
										.overlay{
											.transition;
											padding:17px 14px; // 9,8% 8,2%
											top: 15px;
											left:15px;
											width:173px - 30 - 14 - 14;
											height:177px - 30 - 17 - 17;
											position:absolute;
											z-index:99;
											overflow:hidden;
											background:url('rgba.php/rgba(70, 41, 85, .75)');
											background:rgba(70, 41, 85, .75);
											opacity:0;
											h2{
												left:-120px;
												position:relative;
												color:@amarelo;
												line-height:115%;
												margin-bottom:7px;
												.oxygen(15px, 300);
												.transition;
											}
											p{
												left:120px;
												position:relative;
												color:#fff;
												line-height:130%;
												.oxygen(11px);
												.transition;
											}
										}
										&:hover{
											.overlay{
												opacity:1;
												h2, p{ left: 0; }
											}
										}	
									}
								}
							}
						}
					}
				}
				.detalhe{
					.centralizar;
					font-size:0;
					margin-top:43px;
					#ampliada{
						.inline;
						margin-bottom:35px;
						width:605px;
						height:470px;
						img{
							max-width:605px;
							max-height:470px;
							display:block;
							margin:0 auto;
						}
					}
					.descricao{
						.inline;
						margin-bottom:35px;
						padding-left:43px;
						width:980 - 625 - 43px;
						min-height:470px;
						position:relative;
						h2{
							.oxygen(20px);
							line-height:120%;
							color:@preto;
							margin-bottom:20px;
						}
						p{
							.oxygen(15px);
							line-height:120%;
							color:@preto;
							margin-bottom:20px;
						}
						#muda-tipo{
							position:absolute;
							bottom:0;
							left:43px;
							width:312px;
							span{
								.oxygen(14px, 700);
								color:@preto;
								display:block;
								text-align:center;
								margin-bottom:10px;
							}
							a{
								.inline;
								.transition;
								width:138px;
								height:32px;
								line-height:32px;
								text-align:center;
								color:@roxo;
								background:url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
								.oxygen(16px, 300);
								&:active, &:visited{color:@roxo;}
								&:hover, &.ativo{
									font-weight: 700;
								}
								&:first-of-type{margin-right:20px;}
							}
						}
					}
					#lista-thumbs{
						margin-bottom:40px;
						ul.thumbs{
							&.antes{}
							&.depois{}
							li{
								.inline;
								width:120px;
								height:90px;
								margin-right:15px;
								margin-bottom:15px;
								&:nth-child(7n){
									margin-right:0px;
								}
								a{
									display:block;
									.transition;
									&:hover, &.aberto{ img{ opacity:1;}}
									img{
										opacity:0.6;
										.transition;
									}
								}
							}
						}
					}
					#fechar-projeto{
						.transition;
						display:block;
						margin:0 auto;
						width:138px;
						height:32px;
						line-height:32px;
						text-align:center;
						color:@roxo;
						background:url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
						.oxygen(16px, 300);
						&:active, &:visited{color:@roxo;}
						&:hover, &.ativo{
							font-weight: 700;
						}						
					}
				}
			}
			.secao-quem-somos{
				background:@cinza;
				padding:62px 0;
				.centro{font-size:0;}
				h1{
					color:@amarelo;
					margin-bottom:20px;
					.oxygen(24px, 300);
				}
				.texto{
					color:#fff;
					.oxygen(16px);
					margin-bottom:60px;
				}
				.equipe{
					width:238px;
					height:336px;
					position: relative;
					margin-top:2px;
					margin-right:2px;
					overflow:hidden;
					&:nth-of-type(4n){margin-right:0;}
					.inline;
					img{
						max-width:239px;
						max-height:336px;
					}
					.overlay{
						position:absolute;
						top:5px;
						left:5px;
						width:183px;
						height:258px;
						z-index:99;
						overflow:hidden;
						// PRETO
						//background:url('rgba.php/rgba(0, 0, 0, .4)');
						//background:rgba(0, 0, 0, .4);
						// CINZA
						background:url('rgba.php/rgba(141, 141, 141, .4)');
						background:rgba(141, 141, 141, .4);
						// ROXO
						//background:url('rgba.php/rgba(70, 41, 85, .4)');
						//background:rgba(70, 41, 85, .4);
						padding:34px 23px;
						opacity:0;
						.transition;
						h2{
							.transition;
							position:relative;
							left:120px;
							color:@amarelo;
							.oxygen(18px, 300);
							margin-bottom:15px;
							line-height:140%;
							text-shadow: 1px 1px 2px #000000;
						}
						p{
							.transition;
							position:relative;
							left:-120px;
							color:#fff;
							.oxygen(18px, 300);
							margin-bottom:15px;
							line-height:140%;
							text-shadow: 1px 1px 2px #000000;
						}
					}
					&:hover{
						.overlay{
							opacity:1;
							h2, p{ left:0; }
						}
					}
				}
			}
			.secao-o-que-fazemos{
				padding:60px 0;
				nav{
					margin-bottom:37px;
					h1{
						.oxygen(24px, 300);
						color:@roxo;
						height:34px;
						line-height:34px;
						border-right:1px @roxo solid;
						padding-right:35px;
						margin-right:30px;
						.inline;
					}
					ul{
						.inline;
						height:34px;
						list-style:none;
						li{
							.inline;
							height:34px;
							margin-right:10px;
							a{
								padding:5px 10px;
								height:24px;
								line-height:34px;
								.oxygen(19px, 300);
								background:url('../_imgs/layout/back-rotation-1.png') center 50px no-repeat; 
								color:@roxo;
								.transition;
								&:active, &:visited{}
								&:hover, &.ativo{
									font-weight:500;
									background:url('../_imgs/layout/back-rotation-1.png') center bottom no-repeat; 
								}
							}
						}
					}
				}
				.texto{
					padding:50px 0 50px 40px;
					background:url('../_imgs/layout/back-rotation-1.png') center center;
					position:relative;
					overflow:hidden;
					white-space:nowrap;
					&:before{
						content:"";
						display:block;
						width:5px;
						height:100%;
						position:absolute;
						top:0;
						left:0;
						background:url('rgba.php/rgba(255, 209, 28, .5)');
						background:rgba(255, 209, 28, .5);
					}
					h2{
						color:@roxo;
						.oxygen(16px, 700);
						margin-bottom:15px;
						white-space:normal;
					}
					.textos-projetos{
						.transition;
					}
					&.aberto-p{
						.textos-projetos{
							margin-left:0;
						}	
					}
					&.aberto-g{
						.textos-projetos{
							margin-left:-920px;
						}
					}
					.secao{
						width:920px;
						.inline;
					}
					.boxes{
						width:448px;
						overflow:hidden;
						font-size:0;
						white-space:nowrap;
						.inline;
						.box{
							width:448px;
							padding-right:35px;
							.transition;
							.inline;
							p{
								white-space:normal;
								.oxygen(16px);
								color:@preto;
								margin-bottom:5px;
							}
							&.preliminar{}
							&.anteprojeto{}
							&.projeto{}
							&.gerenciamento{}
						}
						&.preliminar-aberto{
							.box:first-child{
								margin-left:0;
							}
						}
						&.anteprojeto-aberto{
							.box:first-child{
								margin-left:-483px;
							}
						}
						&.projeto-aberto{
							.box:first-child{
								margin-left:-966px;
							}
						}
					}
					.botoes{
						.inline;
						width:472px;
						margin-left:35px;
						.botao{
							.inline;
							width:128px;
							height:128px;
							background-color:@amarelo;
							position:relative;
							.oxygen(16px);
							.arredondada(100%);
							.btexto{
								line-height:136%;
								color:@roxo;
								text-align:center;
								width:128px;
								padding-top:42px;
								height:86px;
							}
							&.botao1{
								&:before{
									.transition;
									opacity:1;
									content:"";
									display:block;
									position:absolute;
									top:0;
									left:0;
									width:129px;
									height:129px;
									z-index:99;
									background:url('../_imgs/layout/icone-estudo-preliminar.png') @roxo center center no-repeat;
									.arredondada(100%);
								}
								&:hover:before, &.aberto:before{
									opacity:0;
									-moz-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-webkit-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-o-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-ms-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
								}
							}
							&.botao2{
								margin:0 20px;
								&:before{
									.transition;
									opacity:1;
									content:"";
									display:block;
									position:absolute;
									top:0;
									left:0;
									width:129px;
									height:129px;
									z-index:99;
									background:url('../_imgs/layout/icone-anteprojeto.png') @roxo center center no-repeat;
									.arredondada(100%);
								}
								&:hover:before, &.aberto:before{
									opacity:0;
									-moz-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-webkit-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-o-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-ms-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
								}
							}
							&.botao3{
								&:before{
									.transition;
									opacity:1;
									content:"";
									display:block;
									position:absolute;
									top:0;
									left:0;
									width:129px;
									height:129px;
									z-index:99;
									background:url('../_imgs/layout/icone-projeto-executivo.png') @roxo center center no-repeat;
									.arredondada(100%);
								}
								&:hover:before, &.aberto:before{
									opacity:0;
									-moz-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-webkit-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-o-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									-ms-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
									transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
								}
							}
						}
					}
				}
			}
			.secao-clippings{
				padding-bottom:95px;
				font-size:0;
				h1{
					color:@roxo;
					margin-bottom:45px;
					.oxygen(24px, 300);
				}
				#viewport{
					height:212px;
					.nav{
						width:61px;
						height:212px;
						position:relative;
						.inline;
						&.nav-ant{
							img{
								position:absolute;
								left:0;
								top:87px;
							}
						}
						&.nav-prox{
							img{
								position:absolute;
								right:0;
								top:87px;
							}
						}
					}
					.slides{
						height:212px;
						padding:5px 0;
						width:830px;
						overflow:hidden;
						background:#fff;
						white-space:nowrap;
						.inline;
						.slide{
							.inline;
							background:#fff;
							height:212px;
							width:830px;
							padding:3px 4px;
							a{
								margin-right:18px;
								width:150px;
								height:210px;
								-webkit-box-shadow: 0 0 0 0 @roxo;
								box-shadow: 0 0 0 0 @roxo;
								.inline;
								.transition;
								&:active, &:visited{}
								&:hover{
									-webkit-box-shadow: 0 0 4px 2px @roxo;
									box-shadow: 0 0 4px 2px @roxo;
								}
								&:last-child{margin-right:0;}
								img{
									width:150px;
									height:210px;
								}
							}
						}
					}
				}
			}
			.secao-contato{
				background:@cinza;
				padding:50px 0 60px 0;
				h1{
					color:@amarelo;
					.oxygen(24px, 300);
					margin-bottom:30px;
				}
				#form{
					.inline;
					width:480px;
					overflow:hidden;
					height:241px;
					position:relative;
					form{
						input[type="text"],
						input[type="email"]{
							margin:0 0 3px 0;
							padding:4px 8px;
							width:464px;
							border:0;
							display:block;
							background:@roxo;
							color:#fff;
							.oxygen(13px);
							.placeholder(#fff);
							.transition;
						}
						textarea{
							resize:none;
							margin:0 0 3px 0;
							padding:4px 8px;
							width:464px;
							border:0;
							display:block;
							background:@roxo;
							color:#fff;
							height:122px;
							.oxygen(13px);
							.placeholder(#fff);
							.transition;
						}
						input[type="submit"]{
							.oxygen(13px);
							.transition;
							border:0;
							padding:0;
							margin:0;
							height:26px;
							line-height:26px;
							width:100%;
							background:url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
							color:#fff;
							display:block;
							cursor:pointer;
							text-align: center;
							&:hover{
								color:@amarelo;
								font-weight:bold;
							}
						}
						&.escondido{
							input:nth-child(1){ margin-left:-100px; opacity:0; }
							input:nth-child(2){ margin-left: 100px; opacity:0; }
							input:nth-child(3){ margin-left:-100px; opacity:0; }
							textarea:nth-child(4){ margin-left: 100px; opacity:0; }
							input:nth-child(5){ margin-left:-100px; opacity:0; }
						}
					}
					#retorno{
						position:absolute;
						width:100%;
						top:15px;
						left:0;
						text-align:center;
						color:@amarelo;
						text-shadow: 1px 1px 3px @preto;
						opacity:1;
						.oxygen(16px);
						&.escondido{
							top:-140px;
							opacity:0;
						}
					}
				}
				.info{
					.inline;
					width:350px;
					margin-left:120px;
					h2{
						color:@amarelo;
						.oxygen(16px);
						margin-top:20px;
						margin-bottom:2px;
						&:first-child{
							margin-top:-3px;
						}
					}
					p{
						color:#fff;
						.oxygen(14px);
					}
					a{
						display:block;
						width:21px;
						height:21px;
						margin-top:5px;
						.transition;
						&:active, &:visited{}
						&:hover{}
					}
				}
				.maps{
					margin-top:15px;
				}
			}
		}
		footer{
			background-color: @roxo;
			height:42px;
			line-height:42px;
			color:@cinza;
			.oxygen(12px);
			a{
				float:right;
				color:@cinza;
				.transition;
				&:active, &:visited{color:@cinza;}
				&:hover{color:@amarelo;}
				img{
					margin-left:3px;
					vertical-align:-3px;
				}
			}
		}
	}
}

#circleG{
	width:149.33333333333334px;
	display:block;
	margin:203px auto 0 auto;
}

.circleG{
	background-color:#FFFFFF;
	float:left;
	height:32px;
	margin-left:17px;
	width:32px;
	-moz-animation-name:bounce_circleG;
	-moz-animation-duration:0.9s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-border-radius:21px;
	-webkit-animation-name:bounce_circleG;
	-webkit-animation-duration:0.9s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-border-radius:21px;
	-ms-animation-name:bounce_circleG;
	-ms-animation-duration:0.9s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-border-radius:21px;
	-o-animation-name:bounce_circleG;
	-o-animation-duration:0.9s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-border-radius:21px;
	animation-name:bounce_circleG;
	animation-duration:0.9s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	border-radius:21px;
}

#circleG_1{
	-moz-animation-delay:0.18s;
	-webkit-animation-delay:0.18s;
	-ms-animation-delay:0.18s;
	-o-animation-delay:0.18s;
	animation-delay:0.18s;
}

#circleG_2{
	-moz-animation-delay:0.42s;
	-webkit-animation-delay:0.42s;
	-ms-animation-delay:0.42s;
	-o-animation-delay:0.42s;
	animation-delay:0.42s;
}

#circleG_3{
	-moz-animation-delay:0.53s;
	-webkit-animation-delay:0.53s;
	-ms-animation-delay:0.53s;
	-o-animation-delay:0.53s;
	animation-delay:0.53s;
}

@-moz-keyframes bounce_circleG{
	0%{}
	50%{ background-color:#462955 }
	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}
	50%{ background-color:#462955 }
	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}
	50%{ background-color:#462955 }
	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}
	50%{ background-color:#462955 }
	100%{}
}

@keyframes bounce_circleG{
	0%{}
	50%{ background-color:#462955 }
	100%{}
}