.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
  position: relative;
}
html body .secao-topo {
  width: 100%;
}
html body .secao-topo header {
  height: 326px;
  overflow: hidden;
  width: 100%;
  background: url('../_imgs/layout/back-banner-home.png') #462955 center top no-repeat;
}
html body .secao-topo header a {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 28px;
  right: 0px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .secao-topo header #logo {
  display: block;
  width: 326px;
  height: 81px;
  position: absolute;
  top: 137.5px;
  left: 317px;
}
html body .secao-topo nav {
  position: static;
  width: 100%;
  height: 65px;
  background: #462955;
  text-align: center;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .secao-topo nav #link-topo {
  margin-left: -45px;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin-top: 0px;
  opacity: 0;
  z-index: -10;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .secao-topo nav #link-topo img {
  width: 0;
  height: 0;
}
html body .secao-topo nav ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  list-style: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .secao-topo nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 65px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .secao-topo nav ul li a {
  display: block;
  height: 65px;
  line-height: 70px;
  padding: 0 42px;
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .secao-topo nav ul li a:active,
html body .secao-topo nav ul li a:visited {
  color: #fff;
}
html body .secao-topo nav ul li a:hover,
html body .secao-topo nav ul li a.ativo {
  color: #ffd11c;
}
html body .secao-topo.fixo nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 74px;
  background: #462955;
  text-align: center;
}
html body .secao-topo.fixo nav #link-topo {
  width: 84px;
  height: 80px;
  opacity: 1;
  z-index: 99;
  margin-top: 6px;
}
html body .secao-topo.fixo nav #link-topo img {
  width: 84px;
  height: 80px;
}
html body .main .secao-banners {
  padding: 48px 0;
}
html body .main .secao-banners .pad-fundo {
  background: url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
  padding: 20px;
  height: 330px;
}
html body .main .secao-banners .pad-fundo .slides {
  height: 330px;
  overflow: hidden;
  background: #fff;
}
html body .main .secao-banners .pad-fundo .slides .slide {
  height: 330px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
html body .main .secao-banners .pad-fundo .slides .slide img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
html body .main .secao-banners .pad-fundo .slides .slide .texto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  padding: 30px;
  color: #ffd11c;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 130%;
  max-width: 600px;
  height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url('rgba.php/rgba(141, 141, 141, .9)');
  background: rgba(141, 141, 141, 0.9);
}
html body .main .secao-projetos {
  padding: 48px 0 70px 0;
  min-height: 515px;
}
html body .main .secao-projetos nav h1 {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #462955;
  height: 34px;
  line-height: 34px;
  border-right: 1px #462955 solid;
  padding-right: 35px;
  margin-right: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-projetos nav ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 34px;
  list-style: none;
}
html body .main .secao-projetos nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 34px;
  margin-right: 10px;
}
html body .main .secao-projetos nav ul li a {
  padding: 5px 10px;
  height: 24px;
  line-height: 34px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 19px;
  font-weight: 300;
  background: url('../_imgs/layout/back-rotation-1.png') center 50px no-repeat;
  color: #462955;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos nav ul li a:hover,
html body .main .secao-projetos nav ul li a.ativo {
  font-weight: 500;
  background: url('../_imgs/layout/back-rotation-1.png') center bottom no-repeat;
}
html body .main .secao-projetos .galeria {
  width: 1056px;
  margin: 43px auto 0 auto;
  min-height: 438px;
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria.detalhando {
  min-height: 620px;
}
html body .main .secao-projetos .galeria.detalhando #lista-projetos {
  min-height: 620px;
}
html body .main .secao-projetos .galeria.detalhando #lista-projetos.rel {
  position: relative;
  margin: 0 48px;
}
html body .main .secao-projetos .galeria .loading {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1056px;
  height: 100%;
  z-index: 998;
  background: #fff;
  opacity: 0;
}
html body .main .secao-projetos .galeria .loading.ativo {
  opacity: 1;
}
html body .main .secao-projetos .galeria.escondida {
  left: -600px;
  opacity: 0;
}
html body .main .secao-projetos .galeria .nav {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  top: 200px;
}
html body .main .secao-projetos .galeria .nav.nav-ant {
  left: 0;
}
html body .main .secao-projetos .galeria .nav.nav-prox {
  right: 0;
}
html body .main .secao-projetos .galeria #lista-projetos {
  width: 960px;
  min-height: 438px;
  overflow: hidden;
  position: absolute;
  left: 48px;
  top: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid {
  width: 960px;
  height: 438px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande {
  display: inline-block;
  vertical-align: top;
  width: 438px;
  height: 438px;
  margin-right: 1px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a {
  width: 438px;
  height: 438px;
  display: block;
  position: relative;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a:active p,
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a:visited p {
  color: #fff;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a img {
  width: 438px;
  height: 438px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a .overlay {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 43px 36px;
  top: 20px;
  left: 20px;
  width: 326px;
  height: 312px;
  position: absolute;
  z-index: 99;
  overflow: hidden;
  background: url('rgba.php/rgba(70, 41, 85, .75)');
  background: rgba(70, 41, 85, 0.75);
  opacity: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a .overlay h2 {
  position: relative;
  left: -120px;
  color: #ffd11c;
  line-height: 135%;
  margin-bottom: 15px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a .overlay p {
  position: relative;
  left: 120px;
  color: #fff;
  line-height: 110%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a:hover .overlay {
  opacity: 1;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a:hover .overlay h2,
html body .main .secao-projetos .galeria #lista-projetos .grid .grande a:hover .overlay p {
  left: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras {
  width: 521px;
  display: inline-block;
  vertical-align: top;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias {
  width: 521px;
  height: 260px;
  margin-bottom: 1px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 260px;
  height: 260px;
  position: relative;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a img {
  width: 260px;
  height: 260px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a:first-child {
  margin-right: 1px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a .overlay {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 25px 21px;
  top: 20px;
  left: 20px;
  width: 178px;
  height: 170px;
  position: absolute;
  z-index: 99;
  overflow: hidden;
  background: url('rgba.php/rgba(70, 41, 85, .75)');
  background: rgba(70, 41, 85, 0.75);
  opacity: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a .overlay h2 {
  left: -120px;
  position: relative;
  color: #ffd11c;
  line-height: 115%;
  margin-bottom: 12px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a .overlay p {
  left: 120px;
  position: relative;
  color: #fff;
  line-height: 110%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a:hover .overlay {
  opacity: 1;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a:hover .overlay h2,
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .medias a:hover .overlay p {
  left: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas {
  width: 521px;
  height: 177px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a {
  width: 173px;
  height: 177px;
  margin-right: 1px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a img {
  width: 173px;
  height: 177px;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a:last-child {
  margin-right: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a .overlay {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 17px 14px;
  top: 15px;
  left: 15px;
  width: 115px;
  height: 113px;
  position: absolute;
  z-index: 99;
  overflow: hidden;
  background: url('rgba.php/rgba(70, 41, 85, .75)');
  background: rgba(70, 41, 85, 0.75);
  opacity: 0;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a .overlay h2 {
  left: -120px;
  position: relative;
  color: #ffd11c;
  line-height: 115%;
  margin-bottom: 7px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a .overlay p {
  left: 120px;
  position: relative;
  color: #fff;
  line-height: 130%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a:hover .overlay {
  opacity: 1;
}
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a:hover .overlay h2,
html body .main .secao-projetos .galeria #lista-projetos .grid .outras .pequenas a:hover .overlay p {
  left: 0;
}
html body .main .secao-projetos .detalhe {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
  font-size: 0;
  margin-top: 43px;
}
html body .main .secao-projetos .detalhe #ampliada {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 35px;
  width: 605px;
  height: 470px;
}
html body .main .secao-projetos .detalhe #ampliada img {
  max-width: 605px;
  max-height: 470px;
  display: block;
  margin: 0 auto;
}
html body .main .secao-projetos .detalhe .descricao {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 35px;
  padding-left: 43px;
  width: 312px;
  min-height: 470px;
  position: relative;
}
html body .main .secao-projetos .detalhe .descricao h2 {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
  color: #4d484f;
  margin-bottom: 20px;
}
html body .main .secao-projetos .detalhe .descricao p {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 120%;
  color: #4d484f;
  margin-bottom: 20px;
}
html body .main .secao-projetos .detalhe .descricao #muda-tipo {
  position: absolute;
  bottom: 0;
  left: 43px;
  width: 312px;
}
html body .main .secao-projetos .detalhe .descricao #muda-tipo span {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #4d484f;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
html body .main .secao-projetos .detalhe .descricao #muda-tipo a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 138px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #462955;
  background: url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
html body .main .secao-projetos .detalhe .descricao #muda-tipo a:active,
html body .main .secao-projetos .detalhe .descricao #muda-tipo a:visited {
  color: #462955;
}
html body .main .secao-projetos .detalhe .descricao #muda-tipo a:hover,
html body .main .secao-projetos .detalhe .descricao #muda-tipo a.ativo {
  font-weight: 700;
}
html body .main .secao-projetos .detalhe .descricao #muda-tipo a:first-of-type {
  margin-right: 20px;
}
html body .main .secao-projetos .detalhe #lista-thumbs {
  margin-bottom: 40px;
}
html body .main .secao-projetos .detalhe #lista-thumbs ul.thumbs li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 120px;
  height: 90px;
  margin-right: 15px;
  margin-bottom: 15px;
}
html body .main .secao-projetos .detalhe #lista-thumbs ul.thumbs li:nth-child(7n) {
  margin-right: 0px;
}
html body .main .secao-projetos .detalhe #lista-thumbs ul.thumbs li a {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .detalhe #lista-thumbs ul.thumbs li a:hover img,
html body .main .secao-projetos .detalhe #lista-thumbs ul.thumbs li a.aberto img {
  opacity: 1;
}
html body .main .secao-projetos .detalhe #lista-thumbs ul.thumbs li a img {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-projetos .detalhe #fechar-projeto {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  margin: 0 auto;
  width: 138px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #462955;
  background: url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
html body .main .secao-projetos .detalhe #fechar-projeto:active,
html body .main .secao-projetos .detalhe #fechar-projeto:visited {
  color: #462955;
}
html body .main .secao-projetos .detalhe #fechar-projeto:hover,
html body .main .secao-projetos .detalhe #fechar-projeto.ativo {
  font-weight: 700;
}
html body .main .secao-quem-somos {
  background: #8d8d8d;
  padding: 62px 0;
}
html body .main .secao-quem-somos .centro {
  font-size: 0;
}
html body .main .secao-quem-somos h1 {
  color: #ffd11c;
  margin-bottom: 20px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
}
html body .main .secao-quem-somos .texto {
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 60px;
}
html body .main .secao-quem-somos .equipe {
  width: 238px;
  height: 336px;
  position: relative;
  margin-top: 2px;
  margin-right: 2px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-quem-somos .equipe:nth-of-type(4n) {
  margin-right: 0;
}
html body .main .secao-quem-somos .equipe img {
  max-width: 239px;
  max-height: 336px;
}
html body .main .secao-quem-somos .equipe .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 183px;
  height: 258px;
  z-index: 99;
  overflow: hidden;
  background: url('rgba.php/rgba(141, 141, 141, .4)');
  background: rgba(141, 141, 141, 0.4);
  padding: 34px 23px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-quem-somos .equipe .overlay h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  left: 120px;
  color: #ffd11c;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 140%;
  text-shadow: 1px 1px 2px #000000;
}
html body .main .secao-quem-somos .equipe .overlay p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  left: -120px;
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 140%;
  text-shadow: 1px 1px 2px #000000;
}
html body .main .secao-quem-somos .equipe:hover .overlay {
  opacity: 1;
}
html body .main .secao-quem-somos .equipe:hover .overlay h2,
html body .main .secao-quem-somos .equipe:hover .overlay p {
  left: 0;
}
html body .main .secao-o-que-fazemos {
  padding: 60px 0;
}
html body .main .secao-o-que-fazemos nav {
  margin-bottom: 37px;
}
html body .main .secao-o-que-fazemos nav h1 {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #462955;
  height: 34px;
  line-height: 34px;
  border-right: 1px #462955 solid;
  padding-right: 35px;
  margin-right: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-o-que-fazemos nav ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 34px;
  list-style: none;
}
html body .main .secao-o-que-fazemos nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 34px;
  margin-right: 10px;
}
html body .main .secao-o-que-fazemos nav ul li a {
  padding: 5px 10px;
  height: 24px;
  line-height: 34px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 19px;
  font-weight: 300;
  background: url('../_imgs/layout/back-rotation-1.png') center 50px no-repeat;
  color: #462955;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-o-que-fazemos nav ul li a:hover,
html body .main .secao-o-que-fazemos nav ul li a.ativo {
  font-weight: 500;
  background: url('../_imgs/layout/back-rotation-1.png') center bottom no-repeat;
}
html body .main .secao-o-que-fazemos .texto {
  padding: 50px 0 50px 40px;
  background: url('../_imgs/layout/back-rotation-1.png') center center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
html body .main .secao-o-que-fazemos .texto:before {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('rgba.php/rgba(255, 209, 28, .5)');
  background: rgba(255, 209, 28, 0.5);
}
html body .main .secao-o-que-fazemos .texto h2 {
  color: #462955;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  white-space: normal;
}
html body .main .secao-o-que-fazemos .texto .textos-projetos {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-o-que-fazemos .texto.aberto-p .textos-projetos {
  margin-left: 0;
}
html body .main .secao-o-que-fazemos .texto.aberto-g .textos-projetos {
  margin-left: -920px;
}
html body .main .secao-o-que-fazemos .texto .secao {
  width: 920px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-o-que-fazemos .texto .boxes {
  width: 448px;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-o-que-fazemos .texto .boxes .box {
  width: 448px;
  padding-right: 35px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-o-que-fazemos .texto .boxes .box p {
  white-space: normal;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #4d484f;
  margin-bottom: 5px;
}
html body .main .secao-o-que-fazemos .texto .boxes.preliminar-aberto .box:first-child {
  margin-left: 0;
}
html body .main .secao-o-que-fazemos .texto .boxes.anteprojeto-aberto .box:first-child {
  margin-left: -483px;
}
html body .main .secao-o-que-fazemos .texto .boxes.projeto-aberto .box:first-child {
  margin-left: -966px;
}
html body .main .secao-o-que-fazemos .texto .botoes {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 472px;
  margin-left: 35px;
}
html body .main .secao-o-que-fazemos .texto .botoes .botao {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 128px;
  height: 128px;
  background-color: #ffd11c;
  position: relative;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
html body .main .secao-o-que-fazemos .texto .botoes .botao .btexto {
  line-height: 136%;
  color: #462955;
  text-align: center;
  width: 128px;
  padding-top: 42px;
  height: 86px;
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao1:before {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 129px;
  z-index: 99;
  background: url('../_imgs/layout/icone-estudo-preliminar.png') #462955 center center no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao1:hover:before,
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao1.aberto:before {
  opacity: 0;
  -moz-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao2 {
  margin: 0 20px;
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao2:before {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 129px;
  z-index: 99;
  background: url('../_imgs/layout/icone-anteprojeto.png') #462955 center center no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao2:hover:before,
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao2.aberto:before {
  opacity: 0;
  -moz-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao3:before {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 129px;
  z-index: 99;
  background: url('../_imgs/layout/icone-projeto-executivo.png') #462955 center center no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao3:hover:before,
html body .main .secao-o-que-fazemos .texto .botoes .botao.botao3.aberto:before {
  opacity: 0;
  -moz-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-30deg) translateX(0px) translateY(-64px) skewX(0deg) skewY(0deg);
}
html body .main .secao-clippings {
  padding-bottom: 95px;
  font-size: 0;
}
html body .main .secao-clippings h1 {
  color: #462955;
  margin-bottom: 45px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
}
html body .main .secao-clippings #viewport {
  height: 212px;
}
html body .main .secao-clippings #viewport .nav {
  width: 61px;
  height: 212px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-clippings #viewport .nav.nav-ant img {
  position: absolute;
  left: 0;
  top: 87px;
}
html body .main .secao-clippings #viewport .nav.nav-prox img {
  position: absolute;
  right: 0;
  top: 87px;
}
html body .main .secao-clippings #viewport .slides {
  height: 212px;
  padding: 5px 0;
  width: 830px;
  overflow: hidden;
  background: #fff;
  white-space: nowrap;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .secao-clippings #viewport .slides .slide {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #fff;
  height: 212px;
  width: 830px;
  padding: 3px 4px;
}
html body .main .secao-clippings #viewport .slides .slide a {
  margin-right: 18px;
  width: 150px;
  height: 210px;
  -webkit-box-shadow: 0 0 0 0 #462955;
  box-shadow: 0 0 0 0 #462955;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-clippings #viewport .slides .slide a:hover {
  -webkit-box-shadow: 0 0 4px 2px #462955;
  box-shadow: 0 0 4px 2px #462955;
}
html body .main .secao-clippings #viewport .slides .slide a:last-child {
  margin-right: 0;
}
html body .main .secao-clippings #viewport .slides .slide a img {
  width: 150px;
  height: 210px;
}
html body .main .secao-contato {
  background: #8d8d8d;
  padding: 50px 0 60px 0;
}
html body .main .secao-contato h1 {
  color: #ffd11c;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}
html body .main .secao-contato #form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 480px;
  overflow: hidden;
  height: 241px;
  position: relative;
}
html body .main .secao-contato #form form input[type="text"],
html body .main .secao-contato #form form input[type="email"] {
  margin: 0 0 3px 0;
  padding: 4px 8px;
  width: 464px;
  border: 0;
  display: block;
  background: #462955;
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-contato #form form input[type="text"]::-webkit-input-placeholder,
html body .main .secao-contato #form form input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form input[type="text"]:-moz-placeholder,
html body .main .secao-contato #form form input[type="email"]:-moz-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form input[type="text"]::-moz-placeholder,
html body .main .secao-contato #form form input[type="email"]::-moz-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form input[type="text"]:-ms-input-placeholder,
html body .main .secao-contato #form form input[type="email"]:-ms-input-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form textarea {
  resize: none;
  margin: 0 0 3px 0;
  padding: 4px 8px;
  width: 464px;
  border: 0;
  display: block;
  background: #462955;
  color: #fff;
  height: 122px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-contato #form form textarea::-webkit-input-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form textarea:-moz-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form textarea::-moz-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form textarea:-ms-input-placeholder {
  color: #ffffff;
}
html body .main .secao-contato #form form input[type="submit"] {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
  padding: 0;
  margin: 0;
  height: 26px;
  line-height: 26px;
  width: 100%;
  background: url('../_imgs/layout/back-rotation-1.png') center center no-repeat;
  color: #fff;
  display: block;
  cursor: pointer;
  text-align: center;
}
html body .main .secao-contato #form form input[type="submit"]:hover {
  color: #ffd11c;
  font-weight: bold;
}
html body .main .secao-contato #form form.escondido input:nth-child(1) {
  margin-left: -100px;
  opacity: 0;
}
html body .main .secao-contato #form form.escondido input:nth-child(2) {
  margin-left: 100px;
  opacity: 0;
}
html body .main .secao-contato #form form.escondido input:nth-child(3) {
  margin-left: -100px;
  opacity: 0;
}
html body .main .secao-contato #form form.escondido textarea:nth-child(4) {
  margin-left: 100px;
  opacity: 0;
}
html body .main .secao-contato #form form.escondido input:nth-child(5) {
  margin-left: -100px;
  opacity: 0;
}
html body .main .secao-contato #form #retorno {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 0;
  text-align: center;
  color: #ffd11c;
  text-shadow: 1px 1px 3px #4d484f;
  opacity: 1;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main .secao-contato #form #retorno.escondido {
  top: -140px;
  opacity: 0;
}
html body .main .secao-contato .info {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 350px;
  margin-left: 120px;
}
html body .main .secao-contato .info h2 {
  color: #ffd11c;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 2px;
}
html body .main .secao-contato .info h2:first-child {
  margin-top: -3px;
}
html body .main .secao-contato .info p {
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .secao-contato .info a {
  display: block;
  width: 21px;
  height: 21px;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .secao-contato .maps {
  margin-top: 15px;
}
html body footer {
  background-color: #462955;
  height: 42px;
  line-height: 42px;
  color: #8d8d8d;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body footer a {
  float: right;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer a:active,
html body footer a:visited {
  color: #8d8d8d;
}
html body footer a:hover {
  color: #ffd11c;
}
html body footer a img {
  margin-left: 3px;
  vertical-align: -3px;
}
#circleG {
  width: 149.33333333333334px;
  display: block;
  margin: 203px auto 0 auto;
}
.circleG {
  background-color: #FFFFFF;
  float: left;
  height: 32px;
  margin-left: 17px;
  width: 32px;
  -moz-animation-name: bounce_circleG;
  -moz-animation-duration: 0.9s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-border-radius: 21px;
  -webkit-animation-name: bounce_circleG;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-border-radius: 21px;
  -ms-animation-name: bounce_circleG;
  -ms-animation-duration: 0.9s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-border-radius: 21px;
  -o-animation-name: bounce_circleG;
  -o-animation-duration: 0.9s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-border-radius: 21px;
  animation-name: bounce_circleG;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  border-radius: 21px;
}
#circleG_1 {
  -moz-animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -ms-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;
}
#circleG_2 {
  -moz-animation-delay: 0.42s;
  -webkit-animation-delay: 0.42s;
  -ms-animation-delay: 0.42s;
  -o-animation-delay: 0.42s;
  animation-delay: 0.42s;
}
#circleG_3 {
  -moz-animation-delay: 0.53s;
  -webkit-animation-delay: 0.53s;
  -ms-animation-delay: 0.53s;
  -o-animation-delay: 0.53s;
  animation-delay: 0.53s;
}
@-moz-keyframes bounce_circleG {
  50% {
    background-color: #462955;
  }
}
@-webkit-keyframes bounce_circleG {
  50% {
    background-color: #462955;
  }
}
@-ms-keyframes bounce_circleG {
  50% {
    background-color: #462955;
  }
}
@-o-keyframes bounce_circleG {
  50% {
    background-color: #462955;
  }
}
@keyframes bounce_circleG {
  50% {
    background-color: #462955;
  }
}
