@roxo:#462955;
@amarelo:#FFD11C;
@cinza:#8D8D8D;
@preto:#4D484F;

@largura:960px;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.ptsans(@fsize:12px, @fweight:normal){
	font-family:'PT Sans', 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:normal;
}
// .oxygen(12px, 300|400|700)
.oxygen(@fsize:12px, @fweight:normal){
	font-family: 'Oxygen', 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibri(@fsize:12px, @fweight:normal){
	font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}